* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root {
  --card-color-primary: #F07A30;
  --card-title-border-color: #F07A30;
  --card-bg-color: #ff00ff;
  --bg: url(./assets/bg-floral.svg);
} */

ul {
  list-style: none;
}

body { /* background */
  background: white;
  background-image: url(./assets/bg-floral.svg);
/*  background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

body * {
  font-family: 'Josefin Sans', sans-serif;
}

/* #cards { 
  margin: 0px -150px 0px -150px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-direction: row;
  flex-wrap: wrap;
} */

#topLogo { /* logo aloha em cima */
  background-image: url(./assets/logo-aloha.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;

  min-width: 100px;
  min-height: 50px;
  margin: 0% 15% 0% 15%;
  padding: 60px 10px 60px 10px;
  background-color: white;
  border-left: 3px solid #F07A30;
  border-bottom: 3px solid #F07A30;
  border-right: 3px solid #F07A30;

  position:relative;
  z-index: 5;
}

.card {
  margin: 3% 3% 3% 3%;
  padding: 150px 5% 160px 5%;
 margin-top: -100px; 
 /*  margin-left: 5%;
  margin-right: 5%; */
  text-align: left;

  background: white;
  border: 3px solid #F07A30;

  position: relative;
  z-index: 1;
}

/* .card h2 { barra laranja
  display: flex;
  gap: 650px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid #F07A30;
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: auto;

  color: #f7dd43;
} */

/* .card h2 span {  dia da semana 
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
} */

.card h2 {
  padding: 0px;
  border-bottom: 2px solid #F07A30;
  text-align: center;
  color: #F77220;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 0px;
  color: #F77220;
}

.card li {
  padding: 3% 4% 3% 4%;
  border-bottom: 1px solid #8BD6F7;
  margin-bottom: 0px;
  font-weight: 300;
}

.card span {
  color: #0E1921;  
}

.halloween {
  color: #602949;
}

.natal {
  color: red;
}

.dropdown-menu ul{
  border: 2px solid #F77220;
  margin:0px 0% 10% 0%;
  padding: 0px 0px 0px 0px;
  list-style: none;
  background: #8BD6F7;
  align-items: center;
}
.dropdown-menu .dropdown li{
  border-bottom: 2px solid #F77220;
}
.dropdown-menu .dropdown li.last{
  border-bottom: 0px;
}
.dropdown-menu ul li {
  display: inline-block;
  position: relative;
  font-weight: 400;
}
.dropdown-menu ul li a {
  display: block;
  color: #0E1921;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
.dropdown-menu ul li ul.dropdown li {
  display: block;
}
.dropdown-menu ul li ul.dropdown {
  width: 200%;
  background: #8BD6F7;
  position: absolute;
  z-index: 999;
  display: none;
}
.dropdown-menu ul li a:hover {
  background: #8BD6F7;
}
.dropdown-menu ul li:hover ul.dropdown {
  display: block;
}

/* .price {
  margin: 0% 0% 10% 0%;
  border-bottom: 2px solid #F77220;
  min-width: auto;
  text-align: center;
}

.price ul {
  display: flex;
  display: inline;
}

.price li {
  margin: 5px;
  padding: 5px 10px 0px 10px;
  border: 2px solid #F77220;
  font-weight: 400;
  color: #0E1921;
  background-color: #8BD6F7;
  display: flex;
  display: inline;
} 

 .card ul li + li { linha dividindo jogos
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong { horários dos jogos
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}*/

/* .card h2:hover,
.card li:hover {  o que faz as informações subirem com o mouse 
  transform: scale(1.1);
} 

.card h2,
.card li {
  transition: transform 0.3s;
} */

.card {
  opacity: 0;
  animation: appear 0.7s forwards;
} 

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #cards{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 700px) {
  h2 {
    font-size: 27px;
  }
}

@media (min-width: 700px) {
  li {
    font-size: 20px;
  }
}